.App{
  display: flex;
  flex-direction: column;
  background: #FFF6E9;
  min-height: 100vh;
}
.content{
  display: flex;
  flex-direction: column;
  
}
.card-lists{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 5px;
  row-gap: 12px;
  border: 1px solid darkblue;
}